{% extends 'base.html' %}

{% block title %}Post{% endblock %}

{% block content %}
<h1>{{post.title}}</h1>


<p>{{post.content}}</p>

{% if post.tags %}
<p>
    <b>Tags:</b>
    {% for tag in post.tags %}
    <a href="/tags/{{ tag.id }}"><i>{{ tag.title }}</i></a>
    {% endfor %}
</p>
{% endif %}

<div>
    <a class="btn btn-outline-dark" href="/users/{{post.user_id}}">Cancel</a>
    <a class="btn btn-outline-dark" href="/posts/{{post.id}}/edit">Edit</a>
    <form action="/posts/{{ post.id }}/delete" method="POST" style="display: inline;">
        <button class="btn btn-danger">Delete
    </form>

</div>

{% endblock %}